*{
	background: #404040;
	color: #f2f2f2;
}

body{
	margin: 5% 10% 5% 10%;
}

.header{
	border-bottom-style: solid;
}
	.header #img1{ display: block;}
	.header #img2{ display: none;}

.btn{
	margin-top: 3px;
	margin-bottom: 2px;
}

.Suggestion{
    border-bottom-style: dashed;
    border-width: 2px;
    margin: 5%;

}

/*.comments{
	border-top-style: dashed;
    border-width: 2px;
    margin-top: 5%;
}
*/

.post{
	border-bottom-style: dashed;
    border-width: 2px;
    margin-bottom: 2%;

}

.bet{
	color: #337ab7;
	display: inline;
}

#back{
	background-color: white;
	border-color: white;
	color: #155123;
	display: inline;
}
#back:hover{
	background-color: gray;
	border-color: gray;
}
a{
	color: white;
}
a:hover{
	text-decoration: none !important;
}

.form-control{
	margin-bottom: 2px;
}

/*mobile*/
@media (max-width:480px){

	.header #img1{ display: none;}
	.header #img2{ display: block;}

}
