	<div class="post">
		<h3 >{{post.title}}</h3>
		<h4> I bet: <span class="bet">{{post.bet}}</span></h4>
		<h5>Odds: {{post.odds}}</h4>
	</div>

	<div class="comments" ng-repeat="comment in post.comments">
	   	<span>{{comment.body}}</span>
	    	<p>
				<span class="glyphicon glyphicon-plus-sign" ng-click="userBet(comment)">
				</span>	myBet: {{comment.userBet | currency : symbol}}
			</p>
	</div>

		<form ng-submit="addComment()" style="margin-top: 50px">
			 	<h3> Submit your bet </h3>
 				<div class="form-group">
 					<input type="text" class="form-control" placeholder="have something in mind?" ng-model="body"></input> 					 				
 					<input type="text" class="form-control" placeholder="For how much you wanna bet?" ng-model="mybet"></input>

 				</div>

 				 <button type="submit" class="btn btn-primary">Bet now</button>
			<span class="back">
				<a href="#/home">
					<button class="btn btn-primary" id="back">Back</button>
				</a>
			</span> 				 
		</form>
